---
import { IMAGE_BASE_PATH, VIDEO_BASE_PATH } from '../config';
import VideoModal from './../../../components/VideoModal.astro';

const videoModals = [
  { id: 'modal-add', videoSrc: `${VIDEO_BASE_PATH}/video/block_add.mp4` },
];
---

<section id="group22" class="block02">
<!-- 타이틀 -->
<div class="page-tit-wrap">
  <div class="tit-box">
    <span class="page-tail"></span>
    <h3>
      작업화면에서&nbsp;<span>객체를 선택</span>하여&nbsp;
      <span>블록을 생성</span>하고&nbsp;
      <span>관리</span>
    </h3>
    <span class="page-tail"></span>
  </div>
  <div class="tip-box">
    <h4 class="tip-tit">How to use</h4>
    <dl>
      <dt>방식 1</dt>
      <dd>명령어 입력창&nbsp;&nbsp;>&nbsp;&nbsp;Command : BLOCK</dd>
    </dl>
    <dl>
      <dt>방식 2</dt>
      <dd>
        명령어
        전체보기&nbsp;&nbsp;>&nbsp;&nbsp;블록&nbsp;&nbsp;>&nbsp;&nbsp;<img
          src={`${IMAGE_BASE_PATH}/ico/ico_block.svg`}
          alt=""
        />&nbsp;&nbsp;블록 만들기&nbsp;&nbsp;>&nbsp;&nbsp;블록 통합 관리창
      </dd>
    </dl>
  </div>
</div>

<!-- // 타이틀 -->
<div class="contents">
  <div class="inner">
    <img class="bg-img" src={`${IMAGE_BASE_PATH}/block/3x_block_02.png`} alt=" " />
     <!-- 링크 -->
      <ul>
        <li>
          <button type="button" class="link-add" data-modal="modal-add">
            <span class="blind">블록 추가하기</span>
            <div class="blind">블록으로 지정할 객체를 선택 후 기준점 지정</div>
          </button>
        </li>

        <li class="blind">
          <dl>
            <dt>블록 LIST</dt>
            <dd>현재 파일에 사용 가능한 블록의 LIST</dd>
            <dd>블록의 이름과 설명으로 구성</dd>

            <dt>블록 선택</dt>
            <dd>클릭으로 표시 여부 설정</dd>
            <dd>마우스 우클릭으로 제거</dd>

            <dt>선택한 블록 미리보기</dt>

            <dt>선택한 블록 기본속성 수정</dt>
            <dd>클릭 시 블록 기본속성 수정 가능</dd>
            <dd>이름 : 블록의 이름</dd>
            <dd>설명 : 블록에 대한 설명</dd>
            <dd>레이어 : 블록이 속한 레이어</dd>
            <dd>색상 : 블록을 구성하는 객체의 색상</dd>

            <dt>설정</dt>
            <dd>삽입 시 블록 분해 허용 : 삽입 후 Explode 명령어 허용 여부 설정</dd>
            <dd>뷰포트 스케일에 맞는 배율 적용(주석배율 적용) : 뷰포트 스케일에 맞게 블록 형상에 대한 스케일 조정 가능</dd>
            <dd>외부참조 추가 시 삽입점 화면에서 직접지정 : 체크 해제시 0,0,0 좌표로 블록 삽입</dd>
          </dl>
      </li>
      </ul>
      <!-- // 링크 -->
  </div>
</div>

  <!-- 모달들 -->
  {videoModals.map(modal => (
    <VideoModal id={modal.id} videoSrc={modal.videoSrc} />
  ))}
</section>

<script>
  import { initModalController } from './../../../lib/modalController';
  
  // 초기 로드
  initModalController();
  
  // Astro 페이지 전환 시에도 재실행
  document.addEventListener('astro:page-load', () => {
    initModalController();
  });
</script>
